USE [TESTING_GARCIA]
GO
/****** Object:  Schema [ImpresionesRoraima]    Script Date: 5/7/2025 9:40:02 PM ******/
CREATE SCHEMA [ImpresionesRoraima]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_CREDIT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_CREDIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_BANK_ACC] [int] NULL,
	[FK_EXPENSE] [int] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_DEBIT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_DEBIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_BANK_ACC] [int] NULL,
	[FK_PAYMENT] [int] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANK]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](25) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANK_ACCOUNT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK_ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BANK_ACCOUNT] [varchar](25) NULL,
	[BALANCE] [decimal](18, 0) NULL,
	[FK_BANK] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[CREDIT_AMOUNT] [decimal](18, 0) NULL,
	[DEBIT_AMOUNT] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUY_INVENTORY]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUY_INVENTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY] [varchar](50) NULL,
	[RNC] [varchar](30) NULL,
	[NCF] [varchar](50) NULL,
	[DATE_MADE] [datetime] NULL,
	[TOTAL_SALE] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[USED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUY_INVENTORY_DETAIL]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUY_INVENTORY_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_BUY_INVENTORY] [int] NULL,
	[FK_PRODUCT] [int] NULL,
	[PRICE] [decimal](18, 0) NULL,
	[QUANTITY] [int] NULL,
	[FK_SIZE] [int] NULL,
	[COLOR_PRIMARY] [int] NULL,
	[COLOR_SECONDARY] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORYPROD]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORYPROD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [varchar](30) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORYSIZE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORYSIZE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [varchar](30) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](30) NULL,
	[LAST_NAME] [varchar](30) NULL,
	[FIRST_SURNAME] [varchar](30) NULL,
	[LAST_SURNAME] [varchar](30) NULL,
	[DNI] [varchar](20) NULL,
	[RNC] [varchar](12) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COLORNAME] [varchar](50) NULL,
	[CODE_COLOR] [varchar](30) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPENSES]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](40) NULL,
	[DESCR] [text] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[VOUCHER] [varchar](18) NULL,
	[DOCUMENT_NUMBER] [varchar](40) NULL,
	[COMPLETED] [bit] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[FK_BUY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORY]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PRODUCT] [int] NULL,
	[FK_SIZE] [int] NULL,
	[QUANTITY] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORY_COLOR]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_COLOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_INVENTORY] [int] NULL,
	[FK_COLOR_PRIMARY] [int] NULL,
	[FK_COLOR_SECONDARY] [int] NULL,
	[QUANTITY] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTE_CREDIT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTE_CREDIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_CLIENT] [int] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_PRODUCTS]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_ORDER] [int] NULL,
	[FK_INVENTORYCOLOR] [int] NULL,
	[QUANTITY] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_CLIENT] [int] NULL,
	[FK_PREORDER] [int] NULL,
	[FK_USER] [int] NULL,
	[CHECKED] [bit] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[DESCRIPTION_JOB] [text] NOT NULL,
	[STATUS_ORDER] [varchar](30) NULL,
	[DATE_CREATED] [datetime] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[SEND_TO] [varchar](50) NULL,
	[OBSERVATION] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_ORDER] [int] NOT NULL,
	[FK_TYPE_PAYMENT] [int] NOT NULL,
	[ACCOUNT_PAYMENT] [varchar](40) NULL,
	[FK_BANK_ACCOUNT] [int] NULL,
	[NOTE_CREDIT] [bit] NULL,
	[AMOUNT] [decimal](18, 0) NOT NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[ACCOUNT_NUMBER] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_CREDIT_NOTE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_CREDIT_NOTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PAYMENT] [int] NULL,
	[FK_CREDIT] [int] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_EXPENSES]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_EXPENSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_EXPENSE] [int] NULL,
	[FK_PAYMENT_TYPE] [int] NULL,
	[FK_BANK_ACCOUNT] [int] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_TYPE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_PAYMENT] [varchar](20) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[N_PERMISSION] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION_USER]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION_USER](
	[FK_USER] [int] NULL,
	[FK_PERMISSION] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [varchar](30) NULL,
	[NUMBER] [varchar](12) NULL,
	[FK_CLIENT] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRE_ORDER]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRE_ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_CLIENT] [int] NOT NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[DATE_DELIVERY] [datetime] NULL,
	[COMPLETED] [bit] NULL,
	[FINISHED] [bit] NULL,
	[ITBIS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRE_ORDER_PRODUCTS]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRE_ORDER_PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PREORDER] [int] NULL,
	[FK_PRODUCT] [int] NULL,
	[QUANTITY] [int] NULL,
	[FK_SIZE] [int] NULL,
	[COLOR_PRIMARY] [int] NULL,
	[COLOR_SECONDARY] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[CUSTOM_PRICE] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_PRODUCT] [varchar](30) NULL,
	[DESCRIPTION_PRODUCT] [text] NULL,
	[SALE_PRICE] [decimal](18, 0) NULL,
	[LAST_REPLENISHMENT] [date] NULL,
	[FK_TYPE] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS_COLOR]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS_COLOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PRODUCT] [int] NULL,
	[FK_COLOR] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS_SIZE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS_SIZE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PRODUCT] [int] NULL,
	[FK_SIZE] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PREORDER] [int] NULL,
	[COD_ISC] [varchar](14) NULL,
	[ITBIS] [decimal](18, 0) NULL,
	[B14] [varchar](40) NULL,
	[TOTAL_AMOUNT] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[INVOICED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SIZE] [varchar](5) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[FKCATEGORYSIZE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_SUPPLIER] [varchar](30) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[RNC] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_PROD]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_PROD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_PROD] [varchar](20) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[NAME_USER] [varchar](20) NULL,
	[PASS] [varchar](30) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[BANK]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[BANK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](25) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[BANK_ACCOUNT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[BANK_ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BANK_ACCOUNT] [varchar](25) NULL,
	[BALANCE] [decimal](18, 0) NULL,
	[FK_BANK] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[BRAND]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[BRAND](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](30) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[BUY_INVENTORY]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[BUY_INVENTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY] [varchar](50) NULL,
	[RNC] [varchar](30) NULL,
	[NCF] [varchar](50) NULL,
	[DATE_MADE] [datetime] NULL,
	[TOTAL_SALE] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[BUY_INVENTORY_DETAIL]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[BUY_INVENTORY_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_BUY_INVENTORY] [int] NULL,
	[FK_PRODUCT] [int] NULL,
	[PRICE] [decimal](18, 0) NULL,
	[QUANTITY] [int] NULL,
	[FK_SIZE] [int] NULL,
	[COLOR_PRIMARY] [int] NULL,
	[COLOR_SECONDARY] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[CATEGORYSIZE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[CATEGORYSIZE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [varchar](30) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[CLIENT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[CLIENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](30) NULL,
	[LAST_NAME] [varchar](30) NULL,
	[FIRST_SURNAME] [varchar](30) NULL,
	[LAST_SURNAME] [varchar](30) NULL,
	[DNI] [varchar](20) NULL,
	[RNC] [varchar](12) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[CODES_DGI]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[CODES_DGI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INITIAL_NUMBER] [int] NULL,
	[END_NUMBER] [int] NULL,
	[CURRENT_NUMBER] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[COLOR]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[COLOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COLORNAME] [varchar](50) NULL,
	[CODE_COLOR] [varchar](30) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[EXPENSES]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[EXPENSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](40) NULL,
	[DESCR] [text] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[VOUCHER] [varchar](18) NULL,
	[DOCUMENT_NUMBER] [varchar](40) NULL,
	[COMPLETED] [bit] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[INVENTORY]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[INVENTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PRODUCT] [int] NULL,
	[FK_SIZE] [int] NULL,
	[QUANTITY] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[INVENTORY_COLOR]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[INVENTORY_COLOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_INVENTORY] [int] NULL,
	[FK_COLOR_PRIMARY] [int] NULL,
	[FK_COLOR_SECONDARY] [int] NULL,
	[QUANTITY] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[ORDER_PRODUCTS]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[ORDER_PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_ORDER] [int] NULL,
	[FK_INVENTORYCOLOR] [int] NULL,
	[QUANTITY] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[ORDERS]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[ORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_CLIENT] [int] NULL,
	[FK_PREORDER] [int] NULL,
	[FK_USER] [int] NULL,
	[CHECKED] [bit] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[DESCRIPTION_JOB] [text] NOT NULL,
	[STATUS_ORDER] [varchar](30) NULL,
	[DATE_CREATED] [datetime] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[SEND_TO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PAYMENT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PAYMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_ORDER] [int] NOT NULL,
	[FK_TYPE_PAYMENT] [int] NOT NULL,
	[ACCOUNT_PAYMENT] [varchar](40) NULL,
	[FK_BANK_ACCOUNT] [int] NULL,
	[AMOUNT] [decimal](18, 0) NOT NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PAYMENT_EXPENSES]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PAYMENT_EXPENSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_EXPENSE] [int] NULL,
	[FK_PAYMENT_TYPE] [int] NULL,
	[FK_BANK_ACCOUNT] [int] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PAYMENT_TYPE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PAYMENT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_PAYMENT] [varchar](20) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PERMISSION]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PERMISSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[N_PERMISSION] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PERMISSION_USER]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PERMISSION_USER](
	[FK_USER] [int] NULL,
	[FK_PERMISSION] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PHONE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PHONE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [varchar](30) NULL,
	[NUMBER] [varchar](12) NULL,
	[FK_CLIENT] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PRE_ORDER]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PRE_ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_CLIENT] [int] NOT NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PRE_ORDER_PRODUCTS]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PRE_ORDER_PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PREORDER] [int] NULL,
	[FK_PRODUCT] [int] NULL,
	[QUANTITY] [int] NULL,
	[FK_SIZE] [int] NULL,
	[COLOR_PRIMARY] [int] NULL,
	[COLOR_SECONDARY] [int] NULL,
	[CUSTOM_PRICE] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PRODUCT]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_PRODUCT] [varchar](30) NULL,
	[DESCRIPTION_PRODUCT] [text] NULL,
	[SALE_PRICE] [decimal](18, 0) NULL,
	[LAST_REPLENISHMENT] [date] NULL,
	[FK_TYPE] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PRODUCTS_COLOR]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PRODUCTS_COLOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PRODUCT] [int] NULL,
	[FK_COLOR] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[PRODUCTS_SIZE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[PRODUCTS_SIZE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PRODUCT] [int] NULL,
	[FK_SIZE] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[SALES]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[SALES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_PREORDER] [int] NULL,
	[COD_ISC] [varchar](14) NULL,
	[ITBIS] [decimal](18, 0) NULL,
	[B14] [varchar](40) NULL,
	[TOTAL_AMOUNT] [decimal](18, 0) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
	[INVOICED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[SIZE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[SIZE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SIZE] [varchar](5) NULL,
	[USER_CREATED] [int] NOT NULL,
	[FKCATEGORYSIZE] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[SUPPLIERS]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[SUPPLIERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_SUPPLIER] [varchar](30) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[SUPPLIERS_PHONE]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[SUPPLIERS_PHONE](
	[FK_SUPPLIER] [int] NULL,
	[FK_PHONE] [int] NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[TYPE_PROD]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[TYPE_PROD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_PROD] [varchar](20) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ImpresionesRoraima].[USERS]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImpresionesRoraima].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_USER] [varchar](20) NULL,
	[PASS] [varchar](30) NULL,
	[USER_CREATED] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_MOD] [int] NULL,
	[MODIFIED_AT] [datetime] NULL,
	[REMOVED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT_CREDIT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[ACCOUNT_DEBIT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[BANK] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[BANK_ACCOUNT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[BANK_ACCOUNT] ADD  DEFAULT ((0)) FOR [CREDIT_AMOUNT]
GO
ALTER TABLE [dbo].[BANK_ACCOUNT] ADD  DEFAULT ((0)) FOR [DEBIT_AMOUNT]
GO
ALTER TABLE [dbo].[BUY_INVENTORY] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[BUY_INVENTORY] ADD  DEFAULT ((0)) FOR [USED]
GO
ALTER TABLE [dbo].[BUY_INVENTORY_DETAIL] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[CATEGORYPROD] ADD  DEFAULT ((1)) FOR [USER_CREATED]
GO
ALTER TABLE [dbo].[CATEGORYPROD] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[CATEGORYSIZE] ADD  DEFAULT ((1)) FOR [USER_CREATED]
GO
ALTER TABLE [dbo].[CATEGORYSIZE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[CLIENT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[COLOR] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[EXPENSES] ADD  DEFAULT ((0)) FOR [COMPLETED]
GO
ALTER TABLE [dbo].[EXPENSES] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[EXPENSES] ADD  DEFAULT (NULL) FOR [FK_BUY]
GO
ALTER TABLE [dbo].[INVENTORY] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[INVENTORY_COLOR] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[NOTE_CREDIT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[ORDER_PRODUCTS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ('DESCRIPTION HERE') FOR [DESCRIPTION_JOB]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ('SIN INICIAR') FOR [STATUS_ORDER]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT ((0)) FOR [NOTE_CREDIT]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PAYMENT_CREDIT_NOTE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PAYMENT_EXPENSES] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PAYMENT_TYPE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PHONE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PRE_ORDER] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PRE_ORDER] ADD  DEFAULT ((0)) FOR [ITBIS]
GO
ALTER TABLE [dbo].[PRE_ORDER_PRODUCTS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PRODUCTS_COLOR] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PRODUCTS_SIZE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[SALES] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[SALES] ADD  DEFAULT ((0)) FOR [INVOICED]
GO
ALTER TABLE [dbo].[SIZE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[TYPE_PROD] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[BANK] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[BANK_ACCOUNT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[BRAND] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[BUY_INVENTORY] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[BUY_INVENTORY_DETAIL] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[CATEGORYSIZE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[CLIENT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[CODES_DGI] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[COLOR] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[EXPENSES] ADD  DEFAULT ((0)) FOR [COMPLETED]
GO
ALTER TABLE [ImpresionesRoraima].[EXPENSES] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY_COLOR] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[ORDER_PRODUCTS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[ORDERS] ADD  DEFAULT ('DESCRIPTION HERE') FOR [DESCRIPTION_JOB]
GO
ALTER TABLE [ImpresionesRoraima].[ORDERS] ADD  DEFAULT ('SIN INICIAR') FOR [STATUS_ORDER]
GO
ALTER TABLE [ImpresionesRoraima].[ORDERS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT_EXPENSES] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT_TYPE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[PHONE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[PRE_ORDER] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[PRE_ORDER_PRODUCTS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[PRODUCT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[PRODUCTS_COLOR] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[PRODUCTS_SIZE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[SALES] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[SALES] ADD  DEFAULT ((0)) FOR [INVOICED]
GO
ALTER TABLE [ImpresionesRoraima].[SIZE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[SUPPLIERS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[SUPPLIERS_PHONE] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[TYPE_PROD] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [ImpresionesRoraima].[USERS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[ACCOUNT_CREDIT]  WITH CHECK ADD FOREIGN KEY([FK_BANK_ACC])
REFERENCES [dbo].[BANK_ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_CREDIT]  WITH CHECK ADD FOREIGN KEY([FK_EXPENSE])
REFERENCES [dbo].[EXPENSES] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_DEBIT]  WITH CHECK ADD FOREIGN KEY([FK_BANK_ACC])
REFERENCES [dbo].[BANK_ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_DEBIT]  WITH CHECK ADD FOREIGN KEY([FK_PAYMENT])
REFERENCES [dbo].[PAYMENT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANK_ACCOUNT]  WITH CHECK ADD FOREIGN KEY([FK_BANK])
REFERENCES [dbo].[BANK] ([ID])
GO
ALTER TABLE [dbo].[BANK_ACCOUNT]  WITH CHECK ADD FOREIGN KEY([FK_BANK])
REFERENCES [dbo].[BANK] ([ID])
GO
ALTER TABLE [dbo].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([COLOR_PRIMARY])
REFERENCES [dbo].[COLOR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([COLOR_SECONDARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [dbo].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([COLOR_SECONDARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [dbo].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([FK_BUY_INVENTORY])
REFERENCES [dbo].[BUY_INVENTORY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INVENTORY]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_COLOR_PRIMARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_COLOR_SECONDARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_COLOR_PRIMARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_COLOR_SECONDARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_INVENTORY])
REFERENCES [dbo].[INVENTORY] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_INVENTORY])
REFERENCES [dbo].[INVENTORY] ([ID])
GO
ALTER TABLE [dbo].[NOTE_CREDIT]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_INVENTORYCOLOR])
REFERENCES [dbo].[INVENTORY_COLOR] ([ID])
GO
ALTER TABLE [dbo].[ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_INVENTORYCOLOR])
REFERENCES [dbo].[INVENTORY_COLOR] ([ID])
GO
ALTER TABLE [dbo].[ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_ORDER])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_ORDER])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_BANK_ACCOUNT])
REFERENCES [dbo].[BANK_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_BANK_ACCOUNT])
REFERENCES [dbo].[BANK_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_ORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_ORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_TYPE_PAYMENT])
REFERENCES [dbo].[PAYMENT_TYPE] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_TYPE_PAYMENT])
REFERENCES [dbo].[PAYMENT_TYPE] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT_CREDIT_NOTE]  WITH CHECK ADD FOREIGN KEY([FK_CREDIT])
REFERENCES [dbo].[NOTE_CREDIT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PAYMENT_CREDIT_NOTE]  WITH CHECK ADD FOREIGN KEY([FK_PAYMENT])
REFERENCES [dbo].[PAYMENT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_BANK_ACCOUNT])
REFERENCES [dbo].[BANK_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_BANK_ACCOUNT])
REFERENCES [dbo].[BANK_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_EXPENSE])
REFERENCES [dbo].[EXPENSES] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_EXPENSE])
REFERENCES [dbo].[EXPENSES] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_PAYMENT_TYPE])
REFERENCES [dbo].[PAYMENT_TYPE] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_PAYMENT_TYPE])
REFERENCES [dbo].[PAYMENT_TYPE] ([ID])
GO
ALTER TABLE [dbo].[PERMISSION_USER]  WITH CHECK ADD FOREIGN KEY([FK_PERMISSION])
REFERENCES [dbo].[PERMISSION] ([ID])
GO
ALTER TABLE [dbo].[PERMISSION_USER]  WITH CHECK ADD FOREIGN KEY([FK_PERMISSION])
REFERENCES [dbo].[PERMISSION] ([ID])
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [dbo].[PRE_ORDER]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [dbo].[PRE_ORDER]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [dbo].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [dbo].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [dbo].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
GO
ALTER TABLE [dbo].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([FK_TYPE])
REFERENCES [dbo].[TYPE_PROD] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([FK_TYPE])
REFERENCES [dbo].[TYPE_PROD] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTS_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_COLOR])
REFERENCES [dbo].[COLOR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTS_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTS_SIZE]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTS_SIZE]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALES]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [dbo].[SALES]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [dbo].[SIZE]  WITH CHECK ADD FOREIGN KEY([FKCATEGORYSIZE])
REFERENCES [dbo].[CATEGORYSIZE] ([ID])
GO
ALTER TABLE [dbo].[SIZE]  WITH CHECK ADD FOREIGN KEY([FKCATEGORYSIZE])
REFERENCES [dbo].[CATEGORYSIZE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[BANK_ACCOUNT]  WITH CHECK ADD FOREIGN KEY([FK_BANK])
REFERENCES [dbo].[BANK] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[BANK_ACCOUNT]  WITH CHECK ADD FOREIGN KEY([FK_BANK])
REFERENCES [dbo].[BANK] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([COLOR_PRIMARY])
REFERENCES [dbo].[COLOR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [ImpresionesRoraima].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([COLOR_SECONDARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([COLOR_SECONDARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([FK_BUY_INVENTORY])
REFERENCES [dbo].[BUY_INVENTORY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [ImpresionesRoraima].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [ImpresionesRoraima].[BUY_INVENTORY_DETAIL]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_COLOR_PRIMARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_COLOR_SECONDARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_COLOR_PRIMARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_COLOR_SECONDARY])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_INVENTORY])
REFERENCES [dbo].[INVENTORY] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[INVENTORY_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_INVENTORY])
REFERENCES [dbo].[INVENTORY] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_INVENTORYCOLOR])
REFERENCES [dbo].[INVENTORY_COLOR] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_INVENTORYCOLOR])
REFERENCES [dbo].[INVENTORY_COLOR] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_ORDER])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_ORDER])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[ORDERS]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[ORDERS]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[ORDERS]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[ORDERS]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_BANK_ACCOUNT])
REFERENCES [dbo].[BANK_ACCOUNT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_BANK_ACCOUNT])
REFERENCES [dbo].[BANK_ACCOUNT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_ORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_ORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_TYPE_PAYMENT])
REFERENCES [dbo].[PAYMENT_TYPE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([FK_TYPE_PAYMENT])
REFERENCES [dbo].[PAYMENT_TYPE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_BANK_ACCOUNT])
REFERENCES [dbo].[BANK_ACCOUNT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_BANK_ACCOUNT])
REFERENCES [dbo].[BANK_ACCOUNT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_EXPENSE])
REFERENCES [dbo].[EXPENSES] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_EXPENSE])
REFERENCES [dbo].[EXPENSES] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_PAYMENT_TYPE])
REFERENCES [dbo].[PAYMENT_TYPE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PAYMENT_EXPENSES]  WITH CHECK ADD FOREIGN KEY([FK_PAYMENT_TYPE])
REFERENCES [dbo].[PAYMENT_TYPE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PERMISSION_USER]  WITH CHECK ADD FOREIGN KEY([FK_PERMISSION])
REFERENCES [ImpresionesRoraima].[PERMISSION] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PERMISSION_USER]  WITH CHECK ADD FOREIGN KEY([FK_PERMISSION])
REFERENCES [ImpresionesRoraima].[PERMISSION] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PERMISSION_USER]  WITH CHECK ADD FOREIGN KEY([FK_USER])
REFERENCES [ImpresionesRoraima].[USERS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [ImpresionesRoraima].[PHONE]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [ImpresionesRoraima].[CLIENT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PHONE]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [ImpresionesRoraima].[CLIENT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRE_ORDER]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRE_ORDER]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRE_ORDER_PRODUCTS]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([FK_TYPE])
REFERENCES [ImpresionesRoraima].[TYPE_PROD] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([FK_TYPE])
REFERENCES [ImpresionesRoraima].[TYPE_PROD] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[PRODUCTS_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_COLOR])
REFERENCES [dbo].[COLOR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [ImpresionesRoraima].[PRODUCTS_COLOR]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [ImpresionesRoraima].[PRODUCTS_SIZE]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [ImpresionesRoraima].[PRODUCTS_SIZE]  WITH CHECK ADD FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [ImpresionesRoraima].[SALES]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[SALES]  WITH CHECK ADD FOREIGN KEY([FK_PREORDER])
REFERENCES [dbo].[PRE_ORDER] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[SIZE]  WITH CHECK ADD FOREIGN KEY([FKCATEGORYSIZE])
REFERENCES [ImpresionesRoraima].[CATEGORYSIZE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[SIZE]  WITH CHECK ADD FOREIGN KEY([FKCATEGORYSIZE])
REFERENCES [ImpresionesRoraima].[CATEGORYSIZE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[SUPPLIERS_PHONE]  WITH CHECK ADD FOREIGN KEY([FK_PHONE])
REFERENCES [dbo].[PHONE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[SUPPLIERS_PHONE]  WITH CHECK ADD FOREIGN KEY([FK_PHONE])
REFERENCES [dbo].[PHONE] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[SUPPLIERS_PHONE]  WITH CHECK ADD FOREIGN KEY([FK_SUPPLIER])
REFERENCES [dbo].[SUPPLIERS] ([ID])
GO
ALTER TABLE [ImpresionesRoraima].[SUPPLIERS_PHONE]  WITH CHECK ADD FOREIGN KEY([FK_SUPPLIER])
REFERENCES [dbo].[SUPPLIERS] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[GetPendingOrderProducts]    Script Date: 5/7/2025 9:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPendingOrderProducts]
AS
BEGIN
SELECT 
    PR.NAME_PRODUCT AS NombreProducto,
    SIZE.SIZE AS Size, 
    COLORPRIMARY.COLORNAME AS ColorPrimary,
    COLORSECONDARY.COLORNAME AS ColorSecondary,
    (SUM(INVCOLOR.QUANTITY) - (SUM(PRP.QUANTITY) - COALESCE(SUM(ORDP.QUANTITY), 0))) AS CantidadFaltante
FROM PRODUCT AS PR
JOIN PRE_ORDER_PRODUCTS AS PRP ON PRP.FK_PRODUCT = PR.ID
JOIN PRE_ORDER AS PRORD ON PRORD.ID = PRP.FK_PREORDER
JOIN INVENTORY AS INV ON INV.FK_PRODUCT = PR.ID 
    AND INV.FK_SIZE = PRP.FK_SIZE
JOIN SIZE ON SIZE.ID = INV.FK_SIZE
LEFT JOIN ORDERS AS ORD ON ORD.FK_PREORDER = PRORD.ID
LEFT JOIN ORDER_PRODUCTS ORDP ON ORDP.FK_ORDER = ORD.ID 
    AND PRP.FK_PRODUCT = PR.ID
    AND PRP.FK_SIZE= PRP.FK_SIZE
JOIN INVENTORY_COLOR AS INVCOLOR ON INVCOLOR.FK_INVENTORY = INV.ID
JOIN COLOR AS COLORPRIMARY ON COLORPRIMARY.ID = INVCOLOR.FK_COLOR_PRIMARY
JOIN COLOR AS COLORSECONDARY ON COLORSECONDARY.ID = INVCOLOR.FK_COLOR_SECONDARY
WHERE PRORD.COMPLETED = 0 
    AND PRORD.REMOVED = 0
    AND PRP.COLOR_PRIMARY = INVCOLOR.FK_COLOR_PRIMARY
    AND PRP.COLOR_SECONDARY = INVCOLOR.FK_COLOR_SECONDARY
GROUP BY 
    PR.NAME_PRODUCT,
    SIZE.SIZE, 
    COLORPRIMARY.COLORNAME, 
    COLORSECONDARY.COLORNAME
HAVING (SUM(INVCOLOR.QUANTITY) - (SUM(PRP.QUANTITY) - COALESCE(SUM(ORDP.QUANTITY), 0))) < 0;

END;

GO
